@use "../utils/variables" as *;
@use "sass:color";


.main__map-section {
    margin: 1rem;
    
    @media (min-width: 768px) {
        margin: 1.5rem;
    }
    
    @media (min-width: 1024px) {
        margin: 2rem;
        flex: 1;
        max-width: 50%;
    }
}

.main__map-container {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, .1);
    
    @media (min-width: 768px) {
        height: 400px;
    }
    
    @media (min-width: 1024px) {
        height: 500px;
    }
}

.main__map {
    width: 100%;
    height: 100%;
}


.main__map-header{
    margin-bottom: 2rem;
}

.leaflet-control-zoom {
    border: none !important;
    
    a {
        background-color: $bg-or !important; 
        color: $color-primary-white !important;
        border: none !important;
        border-radius: 8px !important;
        margin-bottom: 8px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease;
        
        &:hover {
            background-color: color.adjust($bg-or, $lightness: -10%) !important;
            transform: scale(1.05);
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}