@use '../utils/variables' as *;


.main__infos-utiles-cards{
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, .1);
    padding: 2rem;
    border-radius: 1.5rem;
}
.main__infos-utiles-card-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

}
.main__infos-utiles-card-list-item{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.main__infos-utiles-card-subtitle{
    color: $bg-or;
    font-weight: 500;
    margin: 1rem;
}

.main__infos-utiles-card-text{
    color: $color-text-secondary;
    font-weight: 400;
}

.main__infos-utiles-card-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}