@use '../utils/variables' as *;

.menuBurger {
    &__bar {
        width: 100%;
        height: 2px;
        background-color: $color-primary-white;
        position: relative;
        transition: all 0.4s ease-in-out;
        
        &::before,
        &::after {
            content: "";
            background-color: $color-primary-white;
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            transition: all 0.4s ease-in-out;
        }
        
        &::before {
            top: -8px;
        }
        
        &::after {
            top: 8px;
        }
    }
}

// Animation quand le menu est ouvert

.header__menu-toggle[aria-expanded="true"] {
    .menuBurger__bar {
        background-color: transparent;
        
        &::before {
            top: 0;
            transform: rotate(45deg);
        }
        
        &::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}

// Effet hover

.header__menu-toggle:hover {
    .menuBurger__bar,
    .menuBurger__bar::before,
    .menuBurger__bar::after {
        background-color: $bg-or; // Change la couleur au hover
    }
}
