@use '../utils/variables' as *;
.text {
    font-family: "Clash Display Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
  .text__body {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75;
  }
  .text__body--small {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.75;
  }
  .text__highlight {
    font-family: "Futura PT", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
  }
  
