@use '../utils/variables' as *;

// Banner principal
.main__banner {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    background-color: #957e18;
    color: #fffdf3;
    padding: clamp(1.5rem, 5vw, 50px);
    margin-top: clamp(1.5rem, 10vw, 100px);
    margin-bottom: clamp(1.5rem, 10vw, 100px);

    &-title {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        margin-bottom: 20px;
        color: $color-primary-white;
    }

    &-subtitle{
        font-weight: 400;
    }

    &-title-black { 
        color: $color-dark-svg;
    }
    &-content {
        display: flex;
        flex-direction: column;
    }

    &-img {
        max-width: 100px;
        height: 100px;
        border-radius: 10px;

        &-black {
            background-color: $color-dark-svg;
            width: 100px;
            height: 100px;
        }
    }

    @media (min-width: 704px) {
        width: clamp(90%, 100%, 30rem);
    }

    @media (min-width: 904px) {
        width: clamp(90%, 100%, 50rem);
    }

    @media (min-width: 1024px) {
        width: clamp(90%, 100%, 70rem);
    }

    @media (min-width: 1600px) {
        width: clamp(90%, 100%, 90rem);
    }
}

// Variante pour la section programmation
.main__banner-prog {
    background-color: transparent;
}

// Layouts spécifiques (les conteneurs directs dans les banners)
.main__banner--visite {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.main__banner--programmation {
    display: flex;
    flex-direction: row;
    background-color: $color-dark-svg;
    gap: 20px;
}

.main__banner--evenement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.main__banner--infos {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.main__banner--explore {
    display: flex;
    flex-direction: row;
align-items: center;
    gap: 20px;
}

// Section programmation
.main__programmation {
    margin: clamp(1.5rem, 8vw, 100px) clamp(1rem, 5vw, 60px);
}



.fichier-pedago{
    padding: 40px;
    background-color: $color-tertiary-green;
    color: $color-primary-white;
    border-radius: 10px;
}

.fichier-pedago__titre{
    padding-bottom: 10px;
}

.fichier-pedago__para{
    padding-bottom: 20px;
}


.fichier-pedago__button{
    margin-top: 20px;
}