@use '../utils/variables' as *;

// Reset et styles de base
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    color: $color-primary-dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    padding-inline: clamp(1rem, 3vw, 2rem);
    --body-padding: clamp(1rem, 3vw, 2rem);
}

// Styles pour les titres
h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: $spacing-sm;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 200;
}

// Styles pour les liens
a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
    }
}

p{
    font-size: clamp(1rem, 3vw, 1.3rem);
}

// Styles pour les images
img {
    max-width: 100%;
    height: auto;
    display: block;
}

// Styles pour les listes
ul, ol {
    list-style: none;
}

